<div class="example-sidenav-content">
    <h1>Lista dei movimenti</h1>
    <mat-form-field style="width: 250px;">
        <mat-label>Seleziona una carta:</mat-label>
        <mat-select (selectionChange)="onCardSelect($event.value)" [(value)]="selectedCard">
          <mat-option *ngFor="let card of cards" [value]="card">{{card.number | cardPipe }}</mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="loading" class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="movements.length > 0 && !loading">
        <h1><strong>Saldo: €{{total}}</strong></h1>

        <mat-accordion>
          <mat-expansion-panel *ngFor="let movement of movements" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div>
                  <span style="margin-right: 15px;">[{{movement.timestamp | date:'dd/MM/yy'}}]</span>
                  <span style="margin-right: 15px;" [ngClass]="movement.type === 'in' ? 'in' : 'out'"><strong>€{{movement.amount}}</strong></span>
                </div>
                <div>
                  <span>{{movement.title}}</span>
                </div>
              </mat-panel-title>
              <mat-panel-description style="max-width: 400px">
                <div>
                  <span >{{ movement.description | slice: 0:20 }}...</span>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{movement.description}}
          </mat-expansion-panel>
        </mat-accordion>

        <br>
        <button mat-raised-button style="width: 100%;" color="primary" (click)="loadMoreMoviments(selectedCard!)" [disabled]="disabled">
          Carica altro
        </button>
    </div>
</div>

