<div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-icon class="blue-icon" matPrefix>person</mat-icon> 
        
            <input matInput
            id="email" 
            type="email" 
            name="email" 
            ngModel 
            required 
            email
            placeholder="Email*"
            #email="ngModel" 
            />

            @if (email.touched && email.dirty && email.invalid) {
                <mat-error>
                Inserire un indirizzo email valido.
                </mat-error>
            }

        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <mat-icon class="blue-icon" matPrefix>lock</mat-icon> 
                <input matInput
                id="password" 
                [type]="passwordVisibility ? 'text' : 'password'" 
                name="password" 
                ngModel
                required
                placeholder="Password*"
                #password="ngModel"
                />
                <mat-icon class="blue-icon" matSuffix (click)="toggleVisilibity()">
                    {{ !passwordVisibility ? "visibility" : "visibility_off" }}
                </mat-icon>

            @if ( password.touched && password.dirty && password.invalid) {
                <mat-error>Password errata.</mat-error>
                }
        </mat-form-field>

        <div class="example-full-width">
            <button mat-raised-button color="primary" style="width: 100%;">Accedi</button>
        </div>
        <a routerLink="login" (click)="onClick()">Crea un nuovo account</a>
    </form>
</div>