<h2
  class="title"
>
  Aggiungi Carta
  <button mat-icon-button (click)="onClose()" aria-label="Chiudi">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<form style="padding: 0 16px" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div style="display: flex; flex-direction: column; width: 100%">

    <mat-form-field style="flex: 1; margin-bottom: 16px">
      <mat-label>Tipo di carta</mat-label>
      <mat-select required name="type" ngModel #type="ngModel">
        <mat-option value="visa">Visa</mat-option>
        <mat-option value="mastercard">Mastercard</mat-option>
      </mat-select>

      @if (type.touched && type.invalid) {
      <mat-error> Selezionare il tipo di carta. </mat-error>
      }
    </mat-form-field>
    <div style="display: flex; width: 100%; margin-bottom: 16px">
      <mat-form-field style="flex: 1; margin-right: 8px">
        <mat-label>Nome</mat-label>
        <input matInput required name="name" ngModel #name="ngModel" />
        @if (name.touched && name.invalid) {
        <mat-error> Il nome è obbligatorio. </mat-error>
        }
      </mat-form-field>
      <mat-form-field style="flex: 1">
        <mat-label>Cognome</mat-label>
        <input matInput required name="surname" ngModel #surname="ngModel" />
        @if (surname.touched && surname.invalid) {
        <mat-error> Il cognome è obbligatorio. </mat-error>
        }
      </mat-form-field>
    </div>
    <mat-form-field style="flex: 1; margin-bottom: 16px">
      <mat-label>N° Carta</mat-label>
      <input
        matInput
        required
        name="number"
        ngModel
        #number="ngModel"
        maxlength="16"
        minlength="16"
      />
      <mat-hint>Il valore deve essere lungo 16 caratteri</mat-hint>
      @if (number.touched && number.dirty && number.invalid) {
      <mat-error>
        Il numero carta è obbligatorio e deve essere di 16 caratteri.
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field style="flex: 1; margin-bottom: 16px">
      <mat-label>Codice di sicurezza</mat-label>
      <input
        type="text"
        matInput
        required
        name="csc"
        ngModel
        #csc="ngModel"
        maxlength="3"
        minlength="3"
        pattern="\d{3}"
      />
      <mat-hint>Il valore deve essere lungo 3 caratteri</mat-hint>
      <mat-error
        *ngIf="
          csc.touched &&
          csc.dirty &&
          (csc.invalid || !isValidSecurityCode(csc.value))
        "
      >
        Il codice di sicurezza è obbligatorio e deve essere di 3 caratteri.
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      style="margin-bottom: 20px"
      [disabled]="form.form.invalid"
    >
      Aggiungi Carta
    </button>
    <button mat-button type="button" (click)="onClose()">Annulla</button>
  </div>
</form>
